.info {
   display: flex;
   flex-direction: column;
}

.job {
   margin: 2vw 0 0 0;
   padding: 0 1vw;
   width: 100%;
   font-size: 35px;
   font-weight: 900;
   color: #18a306;
   text-align: center;
   letter-spacing: 6px;
}

.block {
   margin: 2% 0 0 0;
   padding: 0 1vw;
   width: 100%;
}

.title {
   font-weight: bold;
   color: rgba(255, 0, 0, 0.611);
   font-size: 16px;
}

.about {
   font-size: 16px;
   line-height: 1.6rem;
   margin: 1vw 0 0 0;
   font-style: italic;
}

.list {
   padding: 0 0 0 2%;
}

.list li {
   padding: 0.5% 0 0 0;
}

.list ul li {
   list-style:disc;
}

.list p {
   font-size: 16px;
   margin: 0.5% 0 0 0;
}

.tags {
   color: rgb(42, 153, 165);
}



